body {
  margin: 0px;
}

section {
  margin: auto;
  width: 60vw;
}

@media screen and (max-width: 1080px) {
  section {
    margin: auto;
    width: 80vw;
  }
}

@media screen and (max-width: 900px) {
  section {
    margin: auto;
    width: 90vw;
  }
}

h1 {
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.button-container {
  margin: 5px;
  text-align: center;
}

.btn {
  font-size: large;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.932);
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px grey;
}

.btn:hover {
  background-color: rgb(0, 87, 0);
  color: white;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 0;
  transform: translateY(1px);
}
